build/
tools/
*.db
*.exe
*.obj
*.o
*.a
bin/
lib/
_deps/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
full_build_log.txt
full_build_log_v2.txt
full_build_log_v3.txt
full_build_log_v4.txt
supporthive.db
